h1{
  margin: 0 auto;
}

form {
  margin: 0 auto;
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
  padding: 50px 100px;
}

.form-section {
  display: flex;
  flex-direction: column;

}

.form-section input {
  padding: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--foreground-color);
  border: none;
  font-weight: bold;
  border-radius: 5px;
} 