h1 {
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 0;
}

form {
  margin: 0 auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
  width: 30%;
  padding: 5%;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-section input {
  padding: 5px;
  background-color: var(--primary-accent-color);
  border: none;
  border-radius: 5px;
  height: 30px;
  color: var(--foreground-color);
}

.form-section input:active {
}

button {
  padding: 8px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--foreground-color);
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

button:active {
  background-color: var(--accent-color-1);
}

.error-container {
  color: var(--error-color);
  border: 2px solid var(--error-color);
  border-radius: 5px;
  background-color: var(--background-color);
  padding: 10px;
}

.hide {
  display: none;
}

@media screen and (max-width: 940px) {
  form {
    width: 50%;
    padding: 5%;
  }
}

@media screen and (max-width: 560px) {
  form {
    width: 70%;
    padding: 5%;
  }
}
