.loading {
  position: relative;
  color: var(--foreground-color);
}

.loading::after {
  content: " ";
  border: 2px solid grey;
  border-top: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 5px;
  left: calc(50% - 10px);
  position: absolute;
  animation: spinner infinite ease-in-out 0.7s;
}

.loading:active {
  color: var(--accent-color-1)
}

@keyframes spinner {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}