---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

interface Post {
	id: number,
	title: string,
	publish: boolean,
	timestamp: Date,
	comments: string[]
} 
export const prerender = false;

const response = await fetch(import.meta.env.PUBLIC_POST_API);
const posts = await response.json();
---

<Layout>
	<Nav />
	<div class="main">
		<h1>All Post</h1>
		<div class="blog-wrapper">
			{posts.map((post: Post) =>
				<a href={`/blog/${post.id}/${post.title.split(" ").join('-')}`} class="blog-card">
					<h2>{post.title}</h2>
					<div class="blog-info">
						{
							post.comments.length > 0 ?
							<div class="comment-wrapper">
								<div class="comment-amount">{post.comments.length}</div>
								{/* <img src="/message-square.svg" alt="comment icon"/> */}
								<svg class="msg-icon" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square">
									<path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
								</svg>
							</div> : ""
						}
						<div class="time-created">{new Date(post.timestamp).toLocaleDateString("en-US", {
							year: "numeric",
							month: "long",
							day: "numeric"
						})}</div>
					</div>
				</a>
				)}
		</div>
	</div>
	<Footer />
</Layout>

<style>
	h1 {
		color: var(--foreground-color);
		font-size: 1rem;
	}

	.main {
		padding: 20px;
		flex-grow: 1;
	}

	.blog-wrapper {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}

	.blog-card {
		background-color: var(--background-color);
		padding: 10px;
		color: var(--foreground-color);
		border-radius: 10px;
		border: 2px solid var(--accent-color-2);
		position: relative;
		cursor: pointer;
		transform: translateY(0);
		transition: border 0.4s, transform 0.3s ease-in-out;
		overflow: hidden;
		min-height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-decoration: none;
	}

	.blog-card::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--primary-color);
		left: 0;
		top: 0;
		border: 2px solid var(--primary-color);
		border-radius: 10px;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 0.3s;
		z-index: -1;
	}

	.blog-card:hover::after {
		transform: scale(1);
	}

	.blog-card:hover {
		transform: translateY(-5px);
		border-color: var(--primary-color);
		color: var(--foreground-color);
	}

	.blog-info {
		display: flex;
		gap: 20px;
		color: var(--accent-color);
	}

	.comment-wrapper {
		display: flex;
		align-items: center;
		gap: 2px;
	}

	.comment-wrapper img {
		height: 15px;
	}
</style>