---
import Layout from "../layouts/Layout.astro";
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import "../styles/CredentialScreens.css"
---

<Layout>
  <Nav />

  <form method="POST" action="http://localhost:3000/user/login">
    <h1>JohanCodes</h1>
    <h2>Login</h2>
    <div class="form-section">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    </div>
    <!-- {errors.email && <p>{errors.email}</p>} -->
    <div class="form-section">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <!-- {errors.password && <p>{errors.password}</p>} -->
    <button type="submit">Login</button>
  </form>
  <Footer />

</Layout>

<style>
  form {
    
  }
</style>