---
import Layout from "../layouts/Layout.astro";
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import "../styles/CredentialScreens.css";
import "../styles/loadingIcon.css";
---

<Layout>
  <Nav />

  <form method="POST">
    <h1>JohanCodes</h1>
    <h2>Login</h2>
    <div class="form-section">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div class="form-section">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="error-container hide" >
    </div>
    <button type="submit" id="submit-btn">Login</button>
  </form>
  <Footer />

</Layout>

<style>

</style>

<script>
  const form = document.querySelector('form');
  const submitBtn = document.querySelector("#submit-btn");
  const errorContainer = document.querySelector('.error-container')!;

  form?.addEventListener('submit', async function (e) {
    e.preventDefault();

    submitBtn?.classList.add("loading");

    const data = {
      email: this.email.value,
      password: this.password.value,
    };


    const response = await fetch(import.meta.env.PUBLIC_LOGIN_API, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      credentials: "include",
      body: JSON.stringify(data)
    });

    if(response.ok) {
      window.location.href = "/";
    } else {
      submitBtn?.classList.remove("loading");
      
      let {errors} = await response.json();

      errorContainer.textContent = "";
      errorContainer.classList.remove("hide");
      errorContainer.textContent += errors[0].msg;
      
      console.error("Failed to submit JSON form");
    }

  });
</script>
