---

---

<div class="comments-container">
  <div class="add-message-wrapper">
      <input type="text" id="add-message" placeholder="Share your thoughts...">
  </div>
  <div class="comments">
    
  </div>
</div>

<style> 
 label {
  position: absolute;
  z-index: 2;
  color: var(--accent-color);
 }
 input {
  background-color: var(--accent-color-3);
  padding: 10px;
  width: 100%;
  border: 1px solid var(--accent-color-2);
  border-radius: 5px;
  color: var(--foreground-color);
 }
</style>